# Node.js dependencies
/node_modules/

# Common build output directories
/build/
/dist/

# Environment variables (sensitive information)
.env
.env.local

# macOS specific files
.DS_Store

# IDE and editor specific files
.vscode/
.idea/